* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');



body {
	text-align: center;
}

.search {
	display: flex;
	margin-top: 5vh;
	margin-left: 9vw;
	width: 82vw;
	height: 4vh;
	background-color: #EBECF1;
	border-radius: 1vh;
}

.search h2 {
	text-align: left;
	letter-spacing: 0.8px;
	color: #727272;
	opacity: 0.75;
	font-size: 1.5vh;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 200;
	padding-top: 1.25vh;
	padding-left: 3vw;
}

.seach_icon {
	padding-left: 5vw;
}

.banner {
	margin-top: 3vh;
	width: 82vw;
	box-shadow: 0px 30px 60px #6E79FB73;
	border-radius: 1vh;
}

.filter {
	width: 82vw;
	display: flex;
	margin-top: 4vh;
	margin-left: 9vw;
	overflow: auto; 
}

.filter > div {
	display: inline-block;
	height: 2.85vh;
	border-radius: 5vh;
}

.filter > div > h3 {
	letter-spacing: 0.6px;
	padding-top: 0.85vh;
	font-size: 1vh;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 200;
}

.f1 {
	margin-left: 0;
	width: 15vw;
	background-color: #C9C9C9;
}

.f2 {
	margin-left: 1.5vw;
	width: 13vw;
	background-color: #E9E9E9;
}

.f3 {
	margin-left: 1.5vw;
	width: 22vw;
	background-color: #E9E9E9;
}

.f4 {
	margin-left: 1.5vw;
	width: 14vw;
	background-color: #E9E9E9;
}

.f5 {
	margin-left: 1.5vw;
	width: 13vw;
	background-color: #E9E9E9;
}


